<!DOCTYPE html>
<html ng-app="MambaClient"> <!-- call the module -->
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="bootstrap-responsive.min.css" />
	</head>
	<body ng-controller="JawBoneDataController as JBCtrl">
		Indicateur : {{JBCtrl.indicator}}
		</br>
		Nom de l'appli Jawbone : {{JBCtrl.settings.name}}
		</br>			
		<button ng-click="JBCtrl.getCode()">Get CODE</button>
		</br>
		<input name="authCode" ng-model="JBCtrl.AuthCode">		
		</br>			
		<button ng-click="JBCtrl.exchangeWithToken()">Get Token</button>
		</br>
		<input name="authToken" ng-model="JBCtrl.AuthToken">
		<button ng-click="JBCtrl.GetHeartRates()">Get heartRates</button>



		
		
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="bootstrap.min.js"></script>
	</body>
</html>