<!DOCTYPE html>
<html ng-app="MambaTestApp">
<head>
    <meta charset="utf-8" />
    <title>Mamba</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
    <script src="app.js"></script>
</head>
<body >
    <div ng-controller="jawBoneController">

        <p>Activity:</p>
        <button ng-click="fetchActivity()">Fetch Activity</button>
        <div>{{activityJawData}}</div>

        <p>HeartRate:</p>
        <button ng-click="fetchHeartRate()">Fetch HeartRate</button>
        <div>{{heartRateJawData}}</div>

    </div>
</body>
</html>